body
{padding:0;
margin:0;
}

nav
{background-color:black;

}
nav ul
{list-style-type:none;
padding:0px;
margin:0px;
display:flex;
}

li
{padding:20px;

}
a
{text-decoration:none;
color:white;
}
li:hover 
{
background-color:white;
}
li:hover a
{
color:black;
}
@media(max-width:430px)
{
ul
{flex-direction:column;

}
li
{
text-align:center;
}
}